<main>

    <div class="columLogo">
        <img id="circulo" src="../assets/image/logo2-main-modified.png" alt="">
        <img id="film" src="../assets/image/logo-main-film-modified.png" alt="">
    </div>

    <div class="main">


        <div class="columOne">
            <h1>{{pelicula.titulo}}</h1>
            <h2>{{pelicula.anyo}}</h2>
            <p>{{pelicula.sinopsis}}</p>
            <div class="columOne-sub">
                <iframe width="460" height="300" [src]="safeUrl" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
            </div>
        </div>

        <div class="columTwo">

            <img id="portada-film" src={{pelicula.imagen}} alt="" width="350px">
            <img id="fondo2-film" src="../assets/image/fondo-film.png" alt="">
            <img id="fondo1-film" src="../assets/image/fondo-film.png" alt="">
            
        </div>

    </div>

</main>