main {
    background: #ed7b49;
}

main .main {
    height: 900px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: right;
}

main .columLogo {
    position: relative;
    text-align: center;
    top: 90px;
    left: 80px;
}

main .columLogo #circulo {
    position: relative;
    width: 200px;
    margin: -60px 0 0 -60px;
    -webkit-animation: spin 30s linear infinite;
    -moz-animation: spin 30s linear infinite;
    animation: spin 30s linear infinite;
    margin: 10px;
}

@-moz-keyframes spin {
    100% {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

main .columLogo #film {
    width: 100px;
    position: relative;
    top: -60px;
    left: -152px;
}

main .columOne {
    width: 45%;
    height: 700px;
    margin-top: 80px;
    margin-right: 70px;
    border-radius: 0px 160px 0px 0px;
    background-color: rgb(202, 104, 87);
    padding-left: 150px;
    padding-right: 60px;
}

main .columOne h1 {
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: Canela,PF Regal Display Pro,Times New Roman,serif;
    font-size: 6em;
}

main .columOne h2 {
    margin-bottom: 5px;
    font-family: Canela,PF Regal Display Pro,Times New Roman,serif;
    font-size: 2.5em;
}

main .columTwo {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 80px;
}

main .columTwo #fondo1-film  {
    position: relative;
    z-index: -1px;
    top: -420px;
    right: 90px;
    width: 350px;
    height: 518.88px;
    transform: rotate(-10deg);
}

main .columTwo #fondo2-film  {
    position: relative;
    top: 105px;
    left: 90px;
    z-index: -5px;
    width: 350px;
    height: 518.88px;
    transform: rotate(+10deg);
    filter: invert(41%) sepia(65%) saturate(5795%) hue-rotate(143deg) brightness(89%) contrast(102%);
}

main .columTwo #portada-film {
    top: 628px;
    z-index:10;
    position:relative;
    transition: 1s;
}

main .columTwo #portada-film:hover {
    width: 400px;
}

::-webkit-scrollbar {
    display: none;
}