

header .header {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}


header li {
    display: inline;
    float: left;
    margin: 25px;
}

header #spain-flag {
    width: 28px;
}

header .columLogo {
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}

header .columOne {
    padding-left: 29.5px;
    padding-right: 90px;
    border-bottom: 2px solid black;
}

header .columTwo {
    padding-right: 29.5px;
    padding-left: 90px;
    border-bottom: 2px solid black;
}

header a {
    text-decoration: none;
    color: black;
    font-weight: lighter;

    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 2px;
    transition: background-size .3s;
}

header a:hover {
    background-size: 100% 2px
}

header .cover-page {
    width: 100%;
    text-align: center;
}

header .cover-page h1 {
    font-size: 6em;
    margin: 0%;
    font-family: Canela,PF Regal Display Pro,Times New Roman,serif;
    position: relative;
    top: -300px;
    margin-top: 20px;
}

header .cover-page-img1 {
    position: relative;
    left: 0%;
    top: 110px;
}

header .cover-page-img1 img {
    width: 550px;
}

header .cover-page-img2 {
    position: absolute;
    right: 0px;
    top: 340px;
}

header .cover-page-img2 img {
    width: 550px;
}

::-webkit-scrollbar {
    display: none;
}