<header>

    <div class="header">
        <div class="columOne">

            <nav class="list-enlace">
                <li><a href="#">INICIO</a></li>
                <li><a routerLink="/listado">PELICULAS</a></li>
                <li><a href="#red">REDES</a></li>
            </nav>

        </div>

        <div class="columLogo">

            <img src="../assets/image/logojuan-cnm.png" alt="logo-cinema">

        </div>

        <div class="columTwo">

            <nav class="list-enlace">
                <li><a href="#contacto">CONTACTO</a></li>
                <li><a routerLink="/crear">NEW PL</a></li>
                <li><a href="#">ES</a></li>
                <li><img id="spain-flag" src="../assets/image/icon-spain.png" alt="Spanish"></li>
            </nav>

        </div>
    </div>

    <div class="cover-page-img1">

        <img src="../assets/image/padrino-recor.png" alt="Padrino-lightning">

    </div>

    <div class="cover-page-img2">

        <img src="../assets/image/superman-recor.png" alt="Piquillo-cloud">

    </div>

    <div class="cover-page">

        <h1>365 días</h1>
        <h1>24 horas/día</h1>

    </div>
    

</header>