<header>

    <div class="contenedor">
        <h2 class="logotipo"><img src="../assets/image/logo-cnm.png" alt="" width="100px"></h2>
        <nav>
            <a href="#" class="activo">Inicio</a>
            <a href="#peli">Peliculas</a>
        </nav>
        <div class="box">
            <form name="search">
                <input type="text" class="input" name="txt" onmouseout="document.search.txt.value = ''">
            </form>
            <i class="fas fa-search"></i>
        </div>
    </div>
    <script src="https://kit.fontawesome.com/da327203e1.js" crossorigin="anonymous"></script>
</header>