<footer>
    <div class="caja-link">
        <ul>
            <span class="footer-link">Contacto</span>
            <span class="footer-link">Quienes somos</span>
            <span class="footer-link">Trabaja con nosotros</span>
            <span class="footer-link">Aviso legal</span>
        </ul>
    </div>
    <a class="redes" href="https://es-es.facebook.com/"><i class="fab fa-facebook-f"></i></a>
        <a class="redes" href="https://twitter.com/?lang=es"><i class="fab fa-twitter"></i></a>
        <a class="redes" href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
    <div class="caja-principal">
        <div class="caja-datos-footer">
            <span><a href="">© 2022 Cinema,Inc.</a> <b> · </b> <a href="">Privacidad</a> <b> · </b> <a
                    href="">Condiciones</a> <b> · </b> <a href="">Mapa del sitio</a> <b> · </b> <a href="">Datos
                    de la
                    empresa</a></span>
        </div>
        <div class="caja-pie">
            <span class="datos-inc"><a href="">Español(ES)</a><a class="euro" href="">€ EUR</a></span>
        </div>
    </div>
</footer>

